[Unit]
Description=Audio Transcription Journal Service
After=network.target

# Update User and Group in this section
[Service]
Type=simple
User=root
WorkingDirectory=%h/transcribe-journal
ExecStart=/usr/bin/uv run --env-file .env watcher/watcher.py
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=transcribe-journal

[Install]
WantedBy=multi-user.target
